<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <h1>Contact-List</h1>
        <div class="contact-list">
            <ul>
                <% for(i of contacts){%>
                    <li class="contact">
                        <div class="contact-details">
                        <p><%=i.name%></p>
                        <p><%=i.phone%></p>
                        </div>
                        <div class="delete">
                            <a href="/delete-contact?id=<%=i._id%>">
                                delete
                            </a>    
                        </div>
                    </li>
                <%} %>
            </ul>
        </div>
        <div class="create-contact">
            <form id="form-create" action="/create-contact" method="post"  >
                <input type="text" name="name" placeholder="enter" required>
                <input type="number" name="phone" placeholder="no" required>
                <button type="submit">ADD</button>
            </form>
        </div>
    </body>
</html>